%div.filters

  %input.filter-search.js-search{ :placeholder => I18n.t(:search) }

  %label{ :for => 'filter-by' }
    &= I18n.t(:filter_by)

  %select#filter-by.filter-selector.js-filter-by
    %option{ :data => { :filter => '*' }}&= I18n.t(:filter_all)
    %option{ :data => { :filter =>  '[data-hasjobs="true"]'  }}&= I18n.t(:filter_jobs_only)

  %label{ :for => 'sort-by' }
    &= I18n.t(:sort_by)

  %select#sort-by.filter-selector.js-sort-by
    %option{ :data => { :order => 'date', :ascending => 'true' }}&= I18n.t(:sort_date_added)
    %option{ :data => { :order => 'name', :ascending => 'true' }}&= I18n.t(:sort_alphabetically_az)
    %option{ :data => { :order => 'name', :ascending => 'false' }}&= I18n.t(:sort_alphabetically_za)