%div.filters

  %input.filter-search.js-search{ :placeholder => 'Search' }

  %label{ :for => 'filter-by' }
    Filter by:

  %select#filter-by.filter-selector.js-filter-by
    %option{ :data => { :filter => '*' }} All
    %option{ :data => { :filter =>  '[data-hasjobs="true"]'  }} Jobs only

  %label{ :for => 'sort-by' }
    Sort:

  %select#sort-by.filter-selector.js-sort-by
    %option{ :data => { :order => 'date', :ascending => 'true' }} Date added
    %option{ :data => { :order => 'name', :ascending => 'true' }} Alphabetically (A-Z)
    %option{ :data => { :order => 'name', :ascending => 'false' }} Alphabetically (Z-A)

  %a.filter.btn.btn--small.btn--faded.btn--clear-filters.js-clear{ :href => "#" }
    %span x