- content_for(:page_title, 'Startups Barcelona')
- content_for(:meta_description, I18n.t(:mission))
- content_for(:page_foot_additions) do
  :javascript
    (function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'internetmadeinbcn',
    'formHash': wufoo_form_id,
    'autoResize':true,
    'height':'898',
    'async':true,
    'header':'show'};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { wufoo_form_id = new WufooForm();wufoo_form_id.initialize(options);wufoo_form_id.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');

%section.join
  .apply-toggle
    %a.btn.btn--join.js-btn-join{ :href => '#' }
      %span&="+ " + I18n.t(:add_yours)

  .apply
    .apply__rules
      %article
        %h3&="1. " + I18n.t(:conditions_question)
        %p&=I18n.t(:conditions_answer)
      %article
        %h3&="2. " + I18n.t(:foreign_code_question)
        %p&=I18n.t(:foreign_code_answer)
      %article
        %h3&="3. " + I18n.t(:traffic_question)
        %p&=I18n.t(:traffic_answer)
    .apply__form
      %div{ :id => "wufoo-" + I18n.t(:wufoo_form_id) }

%ol.startups.cf
  -data.startups.each do |startup|
    %li.startup
      - if startup.has_key?('jobs')
        %a.startup__jobs.btn.btn--mini.btn--faded{ :href => startup.jobs, 'title' => startup.name + ' ' + I18n.t(:jobs) }
          %span #{ I18n.t(:jobs) }
      %a{ :href => startup.url, :title => startup.name + ' ' + startup.description[I18n.locale.to_s] }
        =image_tag 'logos/'+startup.slug.downcase+'.png', :alt => startup.name, :width => '150', :height => '150'
        %h2.startup__name.delta&= startup.name
        %p.startup__description.milli&= startup.description[I18n.locale.to_s]