// =============================================================================
//
// Internet Made in BCN
//
// Table of contents:
// 1. Imports
// 2. Body & Wrapper
// 3. Masthead
// 4. Join us
// 5. Companies
// 6. Footer
//
// =============================================================================

// =============================================================================
// 1. Imports
// =============================================================================

// Imports the _base partial which includes the Compass and Sassbox frameworks
@import "base";

// =============================================================================
// 2. Body & Wrapper
// =============================================================================

body {
	@include respond-to-mobile-only { font-size: 80%; }
	background: $gray-lighter;
}

img { max-width: 100%; }

.wrapper {
	@include leader(2);
	@include trailer(4);
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
	background: $white;

	// Makes the wrapper 90% width on tablets and up
	@include respond-to-tablet-portrait-and-up { width: 90%; }

	// Adds padding and removes the leader on Mobile
	@include respond-to-mobile-only {
		@include leader(0);
		padding-left: 1em;
		padding-right: 1em;
	}

	// Smoother scrolling in webkit browsers enabling GPU acceleration
	 -webkit-transform: translate3d(0, 0, 0);
}

// =============================================================================
// 2. Body & Wrapper
// =============================================================================

.masthead {
	@include rhythm($padding-leader: 2, $padding-trailer: 2);
	max-width: 42em;
	margin: 0 auto;
	text-align: center;

	.twitter {
		position: absolute;
		top: 3.5em;
		right: 2em;
	}
}

.logo {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color: #535762;

	&:after {
		content: '';
		display: block;
		width: 6em;
		height: 1em;
		margin: .5em auto 0;

		// Logo square colors
		$total-colors: 6;
		$line-width: 100 / $total-colors + 0%;
		@include background-image(linear-gradient(left,
			color-stops(
				#2ba5b7 $line-width,
				#fdf0ba $line-width, #fdf0ba $line-width *2,
				#fcdd4c $line-width * 2, #fcdd4c $line-width * 3,
				#fdcc2f $line-width * 3, #fdcc2f $line-width * 4,
				#fa9229 $line-width * 4, #fa9229 $line-width * 5,
				#f4521f $line-width * 5, #f4521f $line-width * 6
			)
		));
	}
}

.logo__internet { display: block; }

.mission { @include leader(1); }

.intro {
	@include leader(2);
	padding-left: 3em;
	padding-right: 3em;
	color: $gray;
}

.language-switch {
	position: absolute;
	top: 1em;
	right: 2em;
}

.twitter {
	margin: 0;
	display: block;
	width: 24px;
	height: 24px;
	background-image: image-url('twitter-icon.png');
	@include respond-to-retina {
		background-image: image-url('twitter-icon@2x.png');
		background-size: 24px 48px;
	}

	&:hover,
	&:active {
		background-position: 0 -24px;
	}

}

// =============================================================================
// 3. Join us
// =============================================================================

.apply {
	@include box-shadow(inset 0 1px 3px rgba(33,36,45,.25));

	// Dirty workaround to prevent jumpy and wrong height slideDown
	//   @to-do: use a better solution without explicitly defined heights
	@include respond-to-tablet-portrait-and-up { height: 650px; }
	@include respond-to-mobile-only { height: 1100px; }

	// Collapse section
	display: none;

	background: #858891;
	color: $white;
}

.apply-toggle {
	@include trailer(3);
	text-align: center;
}

.apply-rules {
	width: 60%;
	padding: 1em 2em;
	float: left;

	article {
		@include leader(2);

		&:nth-child(1n+2) {
			max-width: 50%;
			padding-right: 1em;
			float: left;

			// Make every article span full width on Mobile
			@include respond-to-mobile-only {
				max-width: none;
				padding-right: 0;
				float: none;
			}
		}
	}

	// Makes the apply rules span the full width of its container
	@include respond-to-tablet-portrait-and-below {
		width: 100%;
		float: none;
	}
}

.apply-form {
	width: 40%;
	padding: 1em 2em;
	float: left;
	background: #505666;

	// Spans the full width on Tablet and Mobile devices
	@include respond-to-tablet-portrait-and-below { width: 100%; }
}

// =============================================================================
// 5. Companies
// =============================================================================

.startups {
	@include leading-border(1px, 0);
	margin: 0;
	padding: 0;
	list-style: none;
	border-color: $line-color;
}

.company {
	@include trailing-border(1px, 0);
	position: relative;
	width: 25%;
	height: 320px;
	padding: 1em;
	float: left;
	text-align: center;
	border-width: 1px;
	border-color: $line-color;
	border-right: solid 1px $line-color;

	.name { text-transform: uppercase; }

	.description { color: $gray-light; }

	// Four companies per row on Desktop
	@include respond-to-desktop-and-up {
		&:nth-child(4n+0) { border-right: none; }
	}

	// Three companies per row on Tablets
	@include respond-to-tablet-only {
		width: 33%;
		&:nth-child(3n+0) { border-right: none; }
	}

	// A single company per row on Mobile
	@include respond-to-mobile-only {
		width: 100%;
		border-right: none;
	}

}

.jobs {
	position: absolute;
	top: 0;
	right: 1em;
	z-index: 2;
}

// =============================================================================
// 6. Footer
// =============================================================================

.more-info {

	// More info blocks don't float on Tablets and Mobile
	@include respond-to-tablet-portrait-and-below { float: none; }

	padding: 1em 2em;
	float: right;

	strong { display: block; }

}

.creator { margin-right: 1em; }

.nav {
	list-style: none;
	margin: 0;
	padding: 0;

	li { display: inline; }
	a { display: inline-block; }
}